.footer {
  margin-top: 120px;
  background-image: url('../public/assets/footerBg.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 455px;
}

.newsletterContainer {
  padding: 53px 107px;
  display: flex;
  justify-content: center;

  h2 {
    margin: 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #000000;
  }

  p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    max-width: 460px;
  }
}

.inputContainer {
  display: flex;
  align-items: center;
  margin-left: 28px;

  input {
    width: 355px;
    height: 33px;
    padding: 9px 16px;

    background: #ffffff;
    border: none;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;

    &:focus {
      border: 1px solid #daa520;
      outline: none;
    }
  }

  button {
    background: #daa520;
    border: none;
    color: #fff;
    padding: 9px 24px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
  }
}

.footerLinks {
  max-width: 63%;
  margin-left: 107px;
  .line {
    height: 1px;
    width: -webkit-fill-available;
    background-color: #c4c4c4;
    margin-top: 34px;
    margin-bottom: 24px;
  }

  .linksContainer {
    display: flex;
    justify-content: space-between;

    .col {
      display: flex;
      flex-direction: column;

      h4 {
        margin: 0;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #333333;
        margin: 0;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        color: #8d8d8d;
        margin: 0;
        margin-top: 16px;
        cursor: pointer;
      }
    }
  }

  .copyright {
    text-align: center;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #8d8d8d;
    margin: 0;
    padding-top: 45px;
    padding-bottom: 24px;

    a {
      text-decoration: underline;
    }
  }
}

@media screen and (max-width: 1050px) {
  .inputContainer {
    input {
      width: 250px;
    }
  }

  .footer {
    background-image: linear-gradient(
        338deg,
        rgba(0, 0, 0, 0.22),
        rgba(0, 0, 0, 0)
      ),
      url('../public/assets/footerBg.png');
  }

  .footerLinks {
    .linksContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .col {
        width: fit-content;

        p {
          color: rgba(0, 0, 0, 0.659);
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .newsletterContainer {
    flex-direction: column;
    text-align: center;

    p {
      max-width: none;
    }
  }

  .inputContainer {
    margin-left: 0;
    margin-top: 1.5rem;
    justify-content: center;
  }

  .footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
    max-width: none;

    .line {
      margin-bottom: 3rem;
    }

    .linksContainer {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      row-gap: 2rem;
      column-gap: 2rem;
      flex-wrap: wrap;
    }

    .copyright {
      color: #fff;
    }
  }
}
@media screen and (max-width: 495px) {
  .footerLinks {
    .linksContainer {
      grid-template-columns: 1fr 1fr;
    }
  }
}

@media screen and (max-width: 450px) {
  .newsletterContainer {
    padding: 53px 25px;

    flex-direction: column;
    text-align: center;

    p {
      max-width: none;
    }
  }

  .inputContainer {
    input {
      max-width: 250px;
      min-width: 150px;
    }
  }
}

@media screen and (max-width: 395px) {
  .footerLinks {
    .linksContainer {
      grid-template-columns: 1fr;
    }
  }
}
