.navContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 28px 0 80px;
}

.links {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: rgba(34, 34, 34, 0.75);
  min-width: 450px;
  max-width: 730px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  li:first-child {
    margin-left: 1.5rem;
  }
}

.navbar__menu {
  display: none;
}

.navbarMenuContainer {
  position: relative;
}

.navbarMenuContainerLinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 210px;
  height: 170px;
  position: absolute;
  right: 30px;
  top: 0;
  background-color: rgb(244, 244, 244);
  padding: 2rem;
  padding-bottom: 13rem;
  border-radius: 9px;

  li:nth-last-child(2) {
    margin-bottom: 2rem;
  }
}

.active {
  color: #daa520;
  font-weight: 800;
}

@media screen and (max-width: 850px) {
  .links {
    display: none;
  }
  .navbar__menu {
    display: flex;
  }
  .navContainer {
    padding-left: 28px;
  }
}
