.sectionHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 100px 40px 80px;

  .img {
    width: 30px;
    height: 30px;
  }

  h3 {
    margin: 0;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #3e3f43;
    margin-left: 0.35rem;
    margin-right: 1rem;
    min-width: fit-content;
  }

  .line {
    height: 1px;
    background-color: #000000;
    width: -webkit-fill-available;
  }

  h2 {
    margin: 0;
    font-weight: 800;
    margin-left: 1rem;
    font-size: 72px;
    line-height: 98px;
    text-transform: uppercase;
    color: rgba(34, 34, 34, 0.1);
    min-width: fit-content;
  }
}

@media screen and (max-width: 1130px) {
  .sectionHeaderContainer {
    margin: 100px 40px 40px 40px;

    h3 {
      font-size: 26px;
      line-height: 39px;
    }

    .line {
      width: -webkit-fill-available;
    }

    h2 {
      font-size: 62px;
      line-height: 88px;
    }
  }
}

@media screen and (max-width: 964px) {
  .sectionHeaderContainer {
    h3 {
      font-size: 22px;
      line-height: 39px;
    }
    h2 {
      font-size: 42px;
      line-height: 88px;
    }
  }
}

@media screen and (max-width: 664px) {
  .sectionHeaderContainer {
    margin: 40px 40px 40px 40px;
    flex-direction: column;

    h3 {
      margin: 0;
      font-size: 22px;
      line-height: 39px;
    }
    h2 {
      margin: 0;
      font-size: 42px;
      line-height: 58px;
      text-align: center;
    }
  }
}
